<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".clean.Improve"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_improve_launcher_square"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:roundIcon="@mipmap/ic_improve_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"
        android:windowSoftInputMode="stateAlwaysHidden"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="${crashlyticsEnabled}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".clean.feature_authentication.presentation.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".clean.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".clean.feature_note.presentation.create_note.CreateNoteActivity"
            android:exported="false"
            android:label="@string/title_new_note"
            android:launchMode="singleInstance"
            android:parentActivityName=".clean.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".clean.feature_contact.presentation.AddContactActivity"
            android:exported="false"
            android:label="@string/title_new_contact"
            android:launchMode="singleInstance"
            android:parentActivityName=".clean.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".clean.feature_feedback.presentation.FeedbackActivity"
            android:exported="false"
            android:label="@string/title_feedback"
            android:launchMode="singleInstance"
            android:parentActivityName=".clean.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".clean.feature_privacy_policy.presentation.PrivacyPolicyActivity"
            android:exported="false"
            android:label="@string/title_privacy_policy"
            android:launchMode="singleInstance"
            android:parentActivityName=".clean.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".legacy.Services.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>